{% extends 'blog/base.html' %}

{% block title %}
Обо мне &ndash; Блог Hemera
{% endblock %}

{% block text %}

<div class="panel panel-default">
  <div class="panel-heading"><h3>Обо мне </h3></div>
  <div class="panel-body">
      <h4>Привет!</h4>
      <h4>Меня зовут Лилия. Это мой блог, в котором я делюсь своими мыслями о прочтенных книгах и обо всем, что связано с околокнижной тематикой.</h4>
      <h4>Немного о себе. </h4>
      <h4>Мне 23. Живу в Красноярске. По образованию я IT-специалист и переводчик с английского языка технической литературы. Люблю отдых на природе, долгие пешие прогулки. Увлекаюсь рукоделием - вязанием на спицах и крючком. Интересуюсь психологией и когнитивистикой.</h4>
      <h4>Мечтаю создать собственную творческую студию-мастерскую, научиться играть на укулеле и побывать на Соловецких островах.</h4>
      <br>
      <h4>Меня можно найти в <a href="https://www.instagram.com/hemerrrocallis/">Instagram</a>. </h4>
  </div>
</div>

{% endblock %}
