{% extends 'blog/base.html' %}

{% block title %}
Контакты &ndash; Блог Hemera
{% endblock %}

{% block text %}

<div class="panel panel-default">
  <div class="panel-heading"><h3>Контактная информация</h3></div>
  <div class="panel-body">
      <h4>Со мной можно связаться в соц. сетях:</h4>
      <br>
      <h4><a href="https://vk.com/hemerocallis">Вконтакте</a></h4>
      <h4><a href="https://www.facebook.com/hemerrrocallis">Facebook</a></h4>
      <h4><a href="https://www.instagram.com/hemerrrocallis/">Instagram</a></h4>
      <br>
      <h4>Почта: hemerocallis-11@mail.ru</h4>
  </div>
  <br>
</div>

{% endblock %}
