{% extends 'blog/base.html' %}

{% block title %}
Главная &ndash; Блог Hemera
{% endblock %}

{% load staticfiles %}
{% block text %}

    {% for post in posts %}
        <div class="jumbotron">
            <h2>{{ post.title }}</h2>
            <h4>Написано: {{ post.created_date }}</h4>
            <p>{{ post.get_short_text|linebreaks }}</p>
            <p><a href='posts/{{ post.id }}' class="btn btn-primary btn-lg">Подробнее</a></p>
        </div>
    {% empty %}
    <p>Нет постов</p>
    {% endfor %}

{% endblock %}
