{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block text %}
    <h2> {{ message}} </h2>
    {% if search_results %}
        {% for result in search_results %}
            <div class="jumbotron">
            <h2>{{ result.title }}</h2>
            <h4>Написано: {{ result.created_date }}</h4>
            <p>{{ result.headline|safe }}</p>
            <p><a href='/posts/{{ result.id }}' class="btn btn-primary btn-lg">Подробнее</a></p>
        </div>
        {% endfor %}
    {% else %}
        <p>Не найдено результатов по вашему запросу.</p>
    {% endif %}
{% endblock %}
